# Python cache
__pycache__/
*.py[cod]
*.pyo

# Sphinx documentation
docs/build/
docs/_build/

# Build package / distributions
dist/
build/
*.egg-info/
.pypirc

# Virtual environments
venv/
.env/
.venv/

# Working applications
applications/
